


<div id='content'>
  <h1 class='logo2'>Ruby on Rails RoR ecommerce</h1>
  <div class='tagline'>
    <em>e-commerce made easy</em>
  </div>

  <div class='description'>
    <p>
      <span style="color:#8b1d1d;">RoR Ecommerce started because we wanted a better e-commerce solution.  We didn't like the current Ruby on Rails e-commerce solutions so much we had to write my own.  At the end of the day we hope you enjoy this project.</span>

      Start-up costs are very high and we understand that. RoR-e.com’s platform is specifically created to minimize those cost, decrease the time to develop an e-commerce platform in order to start making money and increase the opportunities for success.

      <span style="color:#8b1d1d;">Interested in RoR-e.com’s platform? We are currently evaluating potential partnerships and/or professional services opportunities.</span>
    </p>
  </div>
  <ol id='next-steps'>
    <li class='home-page'>
      <%= link_to 'Home', root_path %>
    </li>
    <li class='download'>
      <%= link_to 'Docs', docs_installation_path %>
    </li>
    <li class='info'>
      <%= link_to 'Info', info_about_path %>
    </li>
    <li class='support'>
      <%= link_to 'About', info_about_ror_path %>
    </li>
    <li class='get-video'>
       <%= link_to 'Videos', 'http://vimeo.com/17448146', 'data-popup' => true %>
    </li>
    <li class='get-involved'>
      <%= link_to 'Git Hub', 'http://github.com/drhenner/ror_ecommerce', 'data-popup' => true %>
    </li>
  </ol>
</div>
<div id='layout_footer'></div>