<div id='main-side-column' class=' '>
  <h3 id='main-side-column-title'>Contents</h3>
  <ul class='span-7'>
      <li><%= link_to 'Installation', docs_installation_path %></li>
      <li><%= link_to 'Config', docs_config_path %></li>
      <li><%= link_to 'Product Creation', docs_product_path %></li>
      <li><%= link_to 'Purchase Orders', docs_purchase_order_path %></li>
      <li><%= link_to 'Shopping Cart', docs_shopping_cart_path %></li>
      <li><%= link_to 'Admin Cart', docs_admin_cart_path %></li>
      <li>Cart History</li>
      <li>Fulfillment</li>
      <li>Shipments</li>
      <li>Solr Searching</li>
      <li>Wish List</li>
  </ul>
</div>