
<ul class='span-7 doc-sub-menu'>
    <li><%= link_to_unless_current 'Installation', docs_installation_path %></li>
    <li><%= link_to_unless_current 'Config', docs_config_path %></li>
    <li><%= link_to_unless_current 'Product Creation', docs_product_path %></li>
    <li><%= link_to_unless_current 'Purchase Orders', docs_purchase_order_path %></li>
    <li><%= link_to_unless_current 'Shopping Cart', docs_shopping_cart_path %></li>
    <li><%= link_to_unless_current 'Admin Cart', docs_admin_cart_path %></li>
    <li><%= link_to_unless_current 'Cart History', docs_cart_history_path %></li>
    <li><%= link_to_unless_current 'Fulfillment', docs_fulfillment_path %></li>
    <li><%= link_to_unless_current 'Solr Searching', docs_solr_path %></li>
    <%#= link_to_unless_current 'Shipments', docs_shipment_path %>
    <li><%= link_to_unless_current 'Wish List', docs_wish_list_path %></li>
</ul>