
<ol id='next-steps'>
  <li class='home-page'>
    <%= link_to 'Home', root_path %>
  </li>
  <li class='blog-page'>
    <%= link_to 'Blog', posts_path %>
  </li>
  <li class='get-video'>
     <%= link_to 'Videos', 'http://vimeo.com/17448146', 'data-popup' => true %>
  </li>
  <li class='get-involved'>
    <%= link_to 'RoR ecommerce', 'http://github.com/drhenner/ror_ecommerce', 'data-popup' => true %>
  </li>
  <li class='ask-us'>
    <%= link_to 'Contact Us', new_contact_post_path %>
  </li>
</ol>