<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="This is the home for the RoR e-commerce platform for Ruby on Rails.  RoR e-commerce platform was built from the ground up in Rails 3.  Rails ecommerce done right.">
  <title>RoR-Ecommerce: Rails Ecommerce done right.</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%#= stylesheet_link_tag :all %>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <%= stylesheet_link_tag 'main.css' %>
  <!--[if lt IE 8]
    <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <%= javascript_include_tag 'jquery.min', 'rails', 'jquery-ui-1.8.5.custom.min','application' %>
  <%= yield :head %>
</head>
<body class='page_wrapper'>
  <div id='main-wrapper' class="bp container">
    <% if  yield :menu %>
      <div id='menu'>
        <%= yield :menu %>
      </div>
    <% end %>

    <% if  yield :header %>
      <div id='header'>
        <%= yield :header %>
      </div>
    <% end %>

    <div id='main' class=' '>
      <%= yield %>
    </div>

    <% if  yield :footer %>
      <div id='footer'>
        <%= yield :footer %>
      </div>
    <% end %>
  </div>

  <%= yield :bottom %>
  <%#= javascript_include_tag 'jquery.min', 'rails', 'jquery-ui-1.8.5.custom.min','application' %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', BLOG_CONFIG['google_analytics_account_name']]);
    _gaq.push(['_setDomainName', BLOG_CONFIG['your_domain_name']]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script>
    var t=setTimeout("window.location.reload()",900000);
  </script>
</body>
</html>
