<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails E-commerce</title>
  <%= stylesheet_link_tag 'style2.css', :media => 'screen' %>
  <%= javascript_include_tag 'jquery.min', 'rails', 'jquery-ui-1.8.5.custom.min','application' %>
  <%= %>
  <%= yield :head %>
</head>

<body id='home'>

  <div class='wrap' id='main'>
    <%= yield %>
  </div>

  <div id='footer'>
    <div class='wrap'>
      <ul>
        <li class='contact'>
          info@rorecommerce.com
        </li>
        <li class='viewsource'>Ruby 1.9.2 | Rails 3.0.</li>
        <li class='dryicons'>ror-e.com&nbsp;&copy;&nbsp;2010</li>
      </ul>
    </div>
  </div>
  <script>
    var t=setTimeout("window.location.reload()",900000);
  </script>
</body>
</html>